nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: rgb(72, 72, 75);
}

.nav-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.nav-links li {
    padding-right: 30px;
    padding-left: 30px;
}


.circle-logo {
    height: 70px;
    width: 70px;
    margin-left: 0px;
    border-radius: 100%;
    border-color: black;
    border-style: solid;
    background-color: white;
}

.logo {
    height: 50px;
    width: 50px;
    padding-top: 12px;
    padding-left: 10px;
}

.home-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    height: 200px;
    width: 200x;
    border-style: solid;
    border-radius: 100%;
}